body{
  background: rgb(35, 40, 48);

}

.jumbotron h1 {
  color: #fcfcfc;
  text-decoration: underline;
  /*text-decoration-style: dashed;*/
}

.jumbotron h3 {
  color: #fcfcfc;
}

#bhuvanLogo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table-cell;
  width: 62%;
}

.heading{
  color: #fcfcfc;
  text-align: center;
  font-family: cursive;
  font-size: 25px;
  font-weight: 200;
  border-style: hidden;
}

.images{
  min-height: 400px;
  max-height: 400px;
  border-color: rgb(126, 129, 133);
  border-style: solid;
  border-width: thick;
  min-width:  100px;
  max-width: 100px;
  border-radius: 50%;
}

.Names{
  color: #fcfcfc;
  text-align: center;
  font-size: 2.0em;
  font-weight: 350;
  letter-spacing: 1.4px;
  /*font-family: fantasy;*/
}

.jumbotron{
  /*text-align: center;*/
  text-align: justify;
}

.img{
  border: 10%;
  background: rgb(35, 40, 48);
  border-style: hidden;
}

.row{
  border-radius: 10%;
}

.vinodSir {
  margin: 40px 0 40px 0;
  text-align: center;
  float: left;
}

.vinodSir img {
  border-color: rgb(126, 129, 133);
  border-style: 2px solid;
  border-radius: 30%;
}
